body.show {
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow: hidden;
    background-color: black;
    color: white;
}

.presentation section {
    width: calc(100vw - 20vw);
    height: calc(100vh - 20vh);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10vh 10vw;
    font-size: 48px;
    text-align: center;
}

.presentation {
    transition: 500ms all ease-out;
}

.chapter {
    display: flex;
    transition: 500ms all ease-out;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.tools {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    justify-content: space-around;
    width: 100vw;
    padding-top: 1rem;
    z-index: 100;
}

.tools div:last-child {
    width: 30rem;
    text-align: right;
}

.buttons {
    width: 12rem;
    display: flex;
    justify-content: center;
    transition: opacity 1s ease-in-out;
    background-color: white;
    border-radius: 8px;
    padding: 3px;
}

.buttons button {
    font-size: 0;
    border: none;
}

.buttons button.icon {
    font-size: 0;
    border: none;
    padding: 0;
    background-repeat: no-repeat;
    width: 2rem;
    height: 2rem;
    background-size: cover;
    background-color: transparent;
}

button:hover {
    transform: scale(1.25, 1.25);
}

.titles > span {
    display: none;
}

.position {
    display: inline;
}

button[disabled]{
    opacity: 0.25;
}

.restart {
    background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-home-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" ></path> <polyline points="5 12 3 12 12 3 21 12 19 12" ></polyline> <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" ></path> <rect x="10" y="12" width="4" height="4" ></rect> </svg>')
}

.previous {
    background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" ></path> <polyline points="15 6 9 12 15 18" ></polyline> </svg>');

}

.pprevious {
    background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevrons-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" ></path> <polyline points="11 7 6 12 11 17" ></polyline> <polyline points="17 7 12 12 17 17" ></polyline> </svg>');

}

.next {
    background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" ></path> <polyline points="9 6 15 12 9 18" ></polyline> </svg>');

}

.nnext {
    background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevrons-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" ></path> <polyline points="7 7 12 12 7 17" ></polyline> <polyline points="13 7 18 12 13 17" ></polyline> </svg>')
}

svg {
    color:red;
}
